<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    
    <!-- bootstrap add -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>

    <!-- jquery add -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- css add -->
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <!-- post-header start -->
    <header>
        <!--nav bar start-->
        <nav>
            <div class="nav_title">혼저 왕 먹읍서</div>
            <div class="nav_menu">
                <ul class="navbar-nav">
                    {{#principal}}
                    <li class="nav-item">
          
                      <a class="nav-link" href="/s/user/{{no}}">마이페이지</a>
                    </li>
                    <li class="nav-item">
                      <a id="btn-logout" class="nav-link" href="/logout">로그아웃</a>
          
                    </li>
                    {{/principal}}
                    {{^principal}}
                    <li class="nav-item">
                      <a class="nav-link" href="/login-form">로그인</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/join-form">회원가입</a>
                    </li>
                    {{/principal}}
                  </ul>
            </div>
        </nav>
    </header>