{{>/layout/post-header}}

<div class="main_box">
    <div class="background">
        <!-- detail page start -->
        <div class="detail_page">
            <!-- data box start -->
            <div class="data_box">
                <!-- img box start -->
                <div class="img_box">
                    <div class="photo_box">{{restaurant.thumUrl}}</div>
                    </br>
                    <div class="map_api">
                        <div id="map" style="width:100%;height:400px;"></div>
                    </div>
                </div>
                <!-- info start -->
                <div class="info_box">
                    <div class="info_detail_box">설명
                        <div>{{restaurant.name}}</div>
                        <div>{{restaurant.address}}</div>
                        <div>{{restaurant.telDisplay}}</div>
                        <div>{{#restaurant.bizhourInfo}}{{restaurant.bizhourInfo}}{{/restaurant.bizhourInfo}}{{^restaurant.bizhourInfo}}정보 없음{{/restaurant.bizhourInfo}}</div>
                        <div>{{restaurant.homePage}}</div>
                        <div>{{restaurant.menuInfo}}</div>
                    </div>
                </div>
            </div>
            <!-- comment start -->
            <div class="comment_box">
                <!-- cbox write start -->

                <div class="card">
                    <form action="/s/post/{{postId.id}}/comment" method="post">
                        <div class="card-body">
                            <textarea name="content" class="form-control" rows="1" placeholder="댓글을 작성하려면 로그인 해주세요"></textarea>
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">등록</button>
                        </div>
                    </form>
                </div>
                <br />
                
                <div class="card">
                        <div class="card-header"><b>댓글 리스트</b></div>
                        <ul id="reply-box" class="list-group">

                                {{#comments}}
                                <li class="list-group-item d-flex justify-content-between">
                                  <div>{{comment.content}}</div>
                                  <div class="d-flex">
                                    <div class="font-italic">작성자 : {{comment.user.id}} &nbsp;</div>
                                    {{#auth}}
                                    <button class="badge bg-primary" onclick="deleteComment('{{comment.id}}');">삭제</button>
                                    {{/auth}}
                                  </div>
                                </li>
                                {{/comments}}
                          
                            </ul>
                        </div>

            </div>
        </div>
    </div>
</div>
</div>

<script>
    let x = "{{restaurant.x}}";
    let y = "{{restaurant.y}}";

    console.log(x);
    console.log(y);

    var mapOptions = {
        center: new naver.maps.LatLng(y, x),
        zoom: 10
    };

    var map = new naver.maps.Map('map', mapOptions);

    var marker = new naver.maps.Marker({
        position: new naver.maps.LatLng(y, x),
        map: map
    });
</script>

<script>
      // 댓글 삭제
      async function deleteComment(commentId) {
        let response = await fetch(`/s/comment/${commentId}`, {
            method: "DELETE"
        });
        let responseParse = await response.json();
        if (responseParse.code == 1) {
            alert("삭제 성공");
            location.reload(); // 페이지 새로고침 ajax + ssr
        } else {
            alert("삭제 실패");
        }
    }

</script>

{{>/layout/footer}}