    {{>/layout/post-header}}

    <div class="main_box">
        <div class="background">
            <!-- detail page start -->
            <div class="detail_page">
                <!-- data box start -->
                <div class="data_box">
                    <!-- img box start -->
                    <div class="img_box">
                        <div class="photo_box">{{Restaurant.thumUrl}}</div>
                        </br>
                        <div class="map_api">지도</div>
                    </div>
                    <!-- info start -->
                    <div class="info_box">
                        <div class="info_detail_box">설명
                            <div>{{Restaurant.name}}</div>
                            <div>{{Restaurant.address}}</div>
                            <div>{{Restaurant.telDisplay}}</div>
                            <div>{{Restaurant.bizhourInfo}}</div>
                            <div>{{Restaurant.homePage}}</div>
                            <div>{{Restaurant.menuInfo}}</div>
                        </div>
                    </div>
                </div>
                <!-- comment start -->
                <div class="comment_box">
                    <!-- cbox write start -->
                    <div class="cbox_write_area">
                        <input class="cbox_input" type="text" placeholder="댓글을 작성하려면 로그인 해주세요">
                    </div>
                    <!-- cbox view start -->
                    <div class="cbox_view_comment">
                        <div class="cbox_comment_box"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    {{>/layout/footer}}