
{{> /layout/header}}

<!-- 컨테이너 시작 -->
<div class="container mt-3">
  <!-- container, mt-3은 css 클래스임!! -->

  <!-- 상세정보보기 시작 -->

  <div class="mb-3 mt-3">
    {{user.username}} <!--실제로는 request영역에서 가져오는 것-->
  </div>
  <div class="mb-3">
    {{user.password}}
  </div>
  <div class="mb-3">
    {{user.email}}
  </div>

  <!-- a태그여도 버튼처럼 생겨있다, btn btn-dark 클래스를 걸어줘서! -->
  <a href="/user/{{user.no}}}/updateForm" class="btn btn-dark">수정페이지 이동</a>

  <!-- 상세정보보기 끝 -->

</div>
<!-- 컨테이너 끝 -->

{{> /layout/footer}}