{{> /layout/header}}

<!-- 컨테이너 시작 -->
<div class="container mt-3">

  <!-- 회원수정 폼 시작 -->
  <form>
    <input id="userId" type="hidden" value="{{principal.id}}">
    <input id="id" type="hidden">

    <div class="mb-3 mt-3">
      <input id="username" type="text" class="form-control" readonly>
      <!--username readonly-->
    </div>
    <div class="mb-3">
      <input id="password" type="password" class="form-control" maxlength="12" required>
    </div>
    <div class="mb-3">
      <input id="email" type="email" class="form-control" maxlength="30" required>
    </div>
    <button id="btn-update" type="button" class="btn btn-primary">수정완료</button>
  </form>
  <!-- 회원수정 폼 끝 -->

</div>
<!-- 컨테이너 끝 -->

<script src="/js/user.js"></script>

<script>

  async function loading() {

    let userId = $("#userId").val();

    let response = await fetch(`/s/api/user/${userId}`);
    let responseParse = await response.json();

    if (responseParse.code == 1) {
      // CSR 시작
      $("#username").val(responseParse.data.username);
      $("#password").val(responseParse.data.password);
      $("#email").val(responseParse.data.email);
     
    } else {
      alert("잘못된 요청입니다.");
      history.back(); // 뒤로가기
    }
  }

  loading();

</script>

{{> /layout/footer}}