<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>지도</title>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=fb9105e000d4e4331f3b2782f38b56e8"></script>
</head>

<body>
    <div id="map" style="width:100%;height:400px;"></div>

    <script>
        let points; // 다운받는 좌표값 저장해놓는 변수
        let x, y; // 지도클릭시 위치 확인 위한 좌표 변수
        // 데이터 다운 함수
        let loading = async() => {
            let response = await fetch("/loading");
            let responseParse = await response.json();
            points = responseParse;
            console.log(points);
            makeMarker();
        };
        loading();
        // 지도 생성
        var position = new naver.maps.LatLng(37.747381503046, 127.630154310527);
        var map = new naver.maps.Map('map', {
            center: position,
            zoom: 10
        });
        // 지도 리스너 생성
        naver.maps.Event.addListener(map, 'click', function(event) {
            // 클릭한 지점을 중심으로 확대되야 해서 클릭한 부분의 좌표가 필요
            x = event.coord.x;
            y = event.coord.y;
            map.setCenter(new naver.maps.LatLng(y, x));
            map.setZoom(map.zoom + 3); // ++는 안되서 +1로 변경 // +1씩은 너무 작아서 +3변경
        });
        // 좌표 생성 함수
        let makeMarker = () => {
            // 좌표값으로 마커 생성
            for (point of points) {
                var markerOptions = {
                    position: new naver.maps.LatLng(point[0], point[1]),
                    map: map,
                    icon: './img/pin_default.png'
                };
                var marker = new naver.maps.Marker(markerOptions);
                // 마커 리스너 생성 (마커와 지도 클릭이 별개로 구분되어 필요)
                naver.maps.Event.addListener(marker, 'click', function(event) {
                    x = event.coord.x;
                    y = event.coord.y;
                    map.setCenter(new naver.maps.LatLng(y, x));
                    console.log(event.coord);
                    map.setZoom(map.zoom + 3);
                });
            }
        };
    </script>
</body>

</html>